{% extends "base.html" %}

{% block title %}Philip Kiely{% endblock %}

{% block content %}
<div class="row align-items-center"><!--Intro-->
    <div class="col-md-6 order-md-2">
      <div class="p-5">
        <img id="headline_image" class="img-fluid rounded-img" src="img/suit_drawn.jpg" alt="Philip Kiely">
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="p-5">
        <h2 class="primary-accent-text">Hello, I'm Philip Kiely</h2>
        <p>This website presents my <a href="/essays">writing</a>, <a href="https://github.com/philipkiely">projects</a>, and <a href="http://youtube.kiely.xyz">life</a>.</p>
        <p>Sign up for my email newsletter for fresh, original content on programming, technology, and business delivered to your inbox weekly.</p>
        <form onsubmit="emailListSignup();return false;">
          <div class="form-row">
            <div id="invalid-email" class="alert alert-danger col-sm-12" role="alert" hidden>
                Please enter a valid email.
            </div>
            <div id="valid-email" class="alert alert-success col-sm-12" role="alert" hidden>
                Registration sent!
            </div>
            <div class="col-sm-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" id="get-email" placeholder="Enter your email...">
            </div>
            <div class="col-sm-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign Up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div><!--Intro-->
<hr>
<div class="row"><!--Showcase-->
<div class="col-12">
<h1 class="primary-accent-text">Showcase</h1>
</div>
<div class="col-md-4">
  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
    <div class="col-md-6 col-12">
        <a href="/essays/posts.html"><img class="img-fluid" src="img/undraw_on_the_office_fbfs.svg" alt="Philip Kiely"></a>
    </div>
    <h3><a href="/essays/posts.html">Articles</a></h3>
    <p class="lead mb-0">
    I have been fortunate enough to write for a variety of other publications. Posts are listed in reverse chronological&nbsp;order.
    </a>
  </div>
</div>
<div class="col-md-4">
  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
  <div class="col-md-9 col-12">
      <a href="http://youtube.kiely.xyz"><img class="img-fluid" src="img/thumbnail8.jpg" alt="Philip Kiely"></a>
  </div>
  <h3><a href="http://youtube.kiely.xyz">YouTube Channel</a></h3>
    <p class="lead mb-0">Vlog series and intermissions including "Summerville" and "Postcards From Budapest."</p>
  </div>
</div>
<div class="col-md-4">
  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
  <div class="col-md-6 col-12">
      <a href="https://grammiegram.com"><img class="img-fluid" src="img/LogoHead.png" alt="Philip Kiely"></a>
  </div>
  <h3><a href="https://grammiegram.com">GrammieGram</a></h3>
    <p class="lead mb-0">GrammieGram is a messaging system designed to help senior citizens in assistive living communities stay in the loop with their families.</p>
  </div>
</div>
<div class="col-12 col-md-4">
<h3><a class="btn btn-primary" href="https://github.com/philipkiely">Complete Portfolio</a></h3>
</div>
</div><!--Showcase-->
<hr>
<div class="row"><!--Essays-->
<div class="col-12">
<h1 class="primary-accent-text">Essays</h1>
<h3><a href="https://philipkiely.com/essays/first-open-source.html">My First Open Source&nbsp;Contribution</a></h3>
<p>I put almost every line of code that I write outside of work on GitHub. Anytime I make a public repository, I make sure to stick a license on it so that people can actually use the contents; usually I use <span class="caps">MIT</span>, sometimes Apache 2.0. Thus, I could say that I have published thousands of lines of open source code across dozens of projects. However, most of that code is pretty useless to other people, so I don&#8217;t go around saying&nbsp;that&#8230;</p>
<h3><a href="https://philipkiely.com/essays/hackathon.html">How to Succeed and Thrive at a&nbsp;Hackathon</a></h3>
<p>One of my first times coding outside of class was at a hackathon during my first year of college. It was late February, and we drove through a snowstorm to an industrial building near the Iowa State University campus. Inside, we checked in at a folding table, and fortunately the person handling registration didn&#8217;t examine my <span class="caps">ID</span> carefully, as I was 17 at the time. For the next 36 hours, two friends and I developed a client-side JavaScript isometric map maker, trimap. As I started from essentially zero knowledge, I had no choice but to learn more in that weekend than I had in the preceding weeks of Introduction to Computer Science combined. What we made is, without a doubt, a terrible piece of software, and to this day I am inordinately proud of&nbsp;it&#8230;</p>
</div>
<div class="col-12 col-md-4">
<h3><a class="btn btn-primary" href="/essays/">Complete Archive</a></h3>
</div>
</div><!--Essays-->
<div class="row"><!--Resume-->
<div class="col-12">
<hr>
<h1 class="primary-accent-text">Resume</h1>
<h3>Employment</h3>
<h5><a href="https://www.markforged.com">Markforged</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>Software Engineering Intern&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;Summer 2019</small></h5>
<p>Coming Summer 2019!</p>
<h5><a href="https://www.principal.com">Principal Financial Group</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>Software Engineering Intern&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;Summer 2018</small></h5>
<p>Productionized a Python library to automate the generation of portfolio commentary files to save analysts four days of work per quarter, integrated with Spring Boot API and Angular web-based portfolio management tools. Refactored and merged two multi-thousand-line Python 2.7 libraries into one Python 3.6 library, reducing complexity in production application. Created a Java library for converting CSV and TXT files into ORC files to save 70% on storage costs on AWS Redshift.</p>
<h5><a href="https://www.cunamutual.com">Cuna Mutual Group</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>Data Scientist&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;October 2017 &ndash; May 2018</small></h5>
<p>Implemented automated build and release scripts for Microsoft TFS using Python, R, and PowerShell. Decreased build time by 10% and implemented automated lint reporting for python code. Developed statistical models using Python.</p>
<h5><a href="https://www.grinnell.edu">Grinnell College</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>Student Worker&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;August 2016 &ndash; October 2017</small></h5>
<p>Tutor. Instruct students in Calculus and Statistics. Work individually with students to enhance computational skills and conceptual understanding.</p>
<p>Features Editor, Student Newspaper. Pitch and write articles, design, edit, and publish section.</p>
<p>Phonathon Caller. Contact alumni and parents to develop community and raise funds.</p>
<h3>Education</h3>
<h5><a href="https://www.grinnell.edu">Grinnell College</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>B.A. Computer Science&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;August 2016 &ndash; May 2020</small></h5>
<p>Analysis of Algorithms | Object-Oriented Programming (Java) | Operating Systems (C) | Imperitave Programming (C) | Functional Programming (Scheme) | Differential Equations | Graph Theory | Linear Algebra | Calculus I &amp; II | Statistical Modeling (R)</p>
<h5><a href="https://www.ait-budapest.com">Aquincum Institute of Technology</a>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;<small>Semester Abroad in Computer Science&NonBreakingSpace;&NonBreakingSpace;|&NonBreakingSpace;&NonBreakingSpace;Spring 2019</small></h5>
<p>Applied Cryptography (Python) | Mobile Application Development (Kotlin) | Data Mining (Python) | Scalable Systems Development | IT Entrepreneurship
</div>
<div class="col-12 col-md-4">
<h3><a class="btn btn-primary" href="Resume.pdf">Complete Resume</a></h3>
</div>
</div><!--Resume-->
<div class="row"><!--Hire Me-->
<div class="col-12">
<hr>
<h1 class="primary-accent-text">Hire Me</h1>
<p>I'm available for project-based work in programming, writing, editing, or any combination thereof. I work with businesses of all sizes on a contract basis to turn content and code into business solutions. Enthusiastic references provided upon request.</p>
<p>Writing Samples: <a href="https://mkdev.me/en/posts/how-to-send-sms-messages-with-aws-lambda-sns-and-python-3">mkdev: How to Send SMS with AWS</a>, <a href="https://blog.floydhub.com/introduction-to-genetic-algorithms/">FloydHub: Introduction to Genetic Algorithms</a></p>
<p>Please direct all inquiries to <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.
</div>
</div><!--Hire Me-->
{% endblock %}
