* {
  font-family: 'Amiko', sans-serif;
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.img-full-width {
    width: 100%;
    height: auto;
}

.to-right-grad {
    background: linear-gradient(to right, black , #ff2400);
}

.navbar {
    border-style: none;
}

.divider {
    text-align: center; /*neutral good*/
    color: white;
}